<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>{{'master.brandDevice.new.title' | translate}}</strong>
    </div>
    <form [formGroup]="form" (submit)="send($event)">
      <div class="card-body">
        <div class="form-group row col-md-12">
          <label for="brand_name" class="col-md-2 col-form-label">{{'master.brandDevice.new.brand_name' | translate}}
            *</label>
          <div class="col-md-9">
            <input formControlName="brand_name" type="text" name="brand_name" id="brand_name" class="col-md-3 form-control"
                   required [ngClass]="{'is-invalid': f.brand_name.errors && submitted}">
            <div *ngIf="f.brand_name.errors && submitted" class="invalid invalid-feedback">
              <div *ngIf="f.brand_name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row col-md-12">
          <label for="brand_description" class="col-md-2 col-form-label">{{'master.brandDevice.new.description' | translate}}
            *</label>
          <div class="col-md-9">
            <input formControlName="brand_description" type="text" name="brand_description" id="brand_description"
                   class="col-md-3 form-control"
                   required [ngClass]="{'is-invalid': f.brand_description.errors && submitted}">
            <div *ngIf="f.brand_description.errors && submitted" class="invalid invalid-feedback">
              <div *ngIf="f.brand_description.errors.required">
                Description is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="reset" class="btn btn-yellow">
          <i class="fa fa-repeat"></i>
          {{'button.buttonReset' | translate}}
        </button>&nbsp;
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i>
          {{'button.buttonSave' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
